<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBehd3QPAKl7A_DaWBT-MeGje0AlPLshy4</string>
	<key>GCM_SENDER_ID</key>
	<string>645903648310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uashafiz.uasHafiz.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>uas-19312078</string>
	<key>STORAGE_BUCKET</key>
	<string>uas-19312078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645903648310:ios:eb679a6d16aaad903fba97</string>
</dict>
</plist>